/* lista in generale */

.ti-container {
  display: flex;
  margin: 3%;
  justify-content: space-between;
}

.p-text {
  font-size: 1.3rem;
  width: 47%;
  position: sticky;
  top: 15%;
  height: fit-content;
  font-family: "neue-haas-grotesk-text", sans-serif;
}

.p-image {
  width: 50%;
}

.p-image img{
  width: 100%;
}

.i-container img{
  width: 100%;
}

.i-container {
  width: 100%;
  padding: 0 3%;
}

#inizio{
  height: 100vh;
}

.right {
  /* float: right; */
  justify-self: flex-end;
  /* margin-left: 5%; */
}

.left {
  /* float: left; */
  justify-self: flex-start;
  /* margin-right: 5%; */
}

.arr-container{
display: flex;
justify-content: space-between;
margin: 3%
}

#previous, #next{
  height: 10vh;
  justify-content: flex-start;
}

#previous img, #next img {
  height: 100%;
  justify-content: flex-start;
}


/* versione mobile */
@media only screen and (max-width: 600px) {

  .ti-container {
    flex-direction: column;
    margin: 7vw;
  }

  #concept {
    flex-direction: column-reverse;
  }

  .p-text {
    width: 100%;
    font-size: 1rem;
  }

  .p-image {
    width: 100%;
  }

  .i-container img{
    padding: 5vh;
  }

  .p-image .left {
    order: 2;
  }

  .p-text .right {
    order: 1;
  }
}


