.ti-container {
  display: flex;
  margin: 3% 12%;
  justify-content: space-between;
}

#projTitle {
  padding-bottom: 4%;
  font-weight: 600;
}

h1 {
  display: block;
  padding-bottom: 1.5%;
}

.p-text {
  font-size: 1.3rem;
  width: 47%;
  position: sticky;
  top: 8%;
  height: fit-content;
  font-family: "neue-haas-grotesk-text", sans-serif;
}

.p-image {
  width: 50%;
}

.p-image img {
  width: 100%;
}

.i-container img {
  width: 100%;
}

.i-container {
  width: 76%;
  margin: 3% 12%;
  padding: 3% 0;
}

#inizio {
  height: 100vh;
}

.right {
  /* float: right; */
  justify-self: flex-end;
  /* margin-left: 5%; */
}

.left {
  /* float: left; */
  justify-self: flex-start;
  /* margin-right: 5%; */
}

.arr-container {
  display: flex;
  justify-content: space-between;
  margin: 2% 12%;
}

#prev,
#next {
  /* height: 20vh; */
  display: flex;
}

.arr-img-container {
  display: flex;
  justify-content: space-between;
  margin: 2% 12%;
}

.nextprev {font-size: 1.5rem; font-weight: 600;}

/* #prev-img,
#next-img {
  height: 20vh;
  display: none;
} */

/* a.prev,
a.next {
  position: relative;
} */

/* a.prev img,
a.next img {
  position: absolute;
  display: block;
  opacity: 0;
  width: 150px;
  height: 150px;
  align-self: center;
  left: 0;
  top: -20px;
  transition: opacity 0.5s, top 0.5s;
} */

/* a.prev:hover img,
a.next:hover img {
  opacity: 1;
  top: 20px;
} */

/* versione mobile */
@media only screen and (max-width: 600px) {
  #canvas {
    overflow-x: hidden;
  }

  #allprojects {display: none;}

  .ti-container {
    flex-direction: column;
    margin: 0 7vw;
  }

  #concept {
    flex-direction: column-reverse;
  }

  .p-text {
    font-family: "neue-haas-grotesk-text", sans-serif;
    position: relative;
    width: 100%;
    font-size: 1rem;
    margin: 3vh 0;
  }

  .p-image {
    width: 100%;
  }

  .i-container {
    padding: 0;
    margin: 0 7vw;
    width: 86vw;
  }

  .arr-container {
    display: flex;
    margin: 3vh 7vw;
  }

  #projCredits {margin: 5vh 7vw;}

  #previous,
  #next {
    /* height: 7vh; */
    text-align: center;
  }

  #projCredits {
    padding-top: 30px;
  }
}
