/* per i font: font-weight 300 = extralight; 400 = light; 500 = roman; 600 = medium; 700 = bold; 900 = black */

/* padding and border are included in the width and height */
* {
  box-sizing: border-box;
  font-family: "neue-haas-grotesk-display", sans-serif;
}

/* .reaction-diffusion-container {
  height: 200px;
  width: 100%;
  z-index: 3;
} */

/* div generale del titolo */
.nome {
  display: block;
  padding-top: 6%;
  text-align: center;
}

/* nome della mostra */
#titolo {
  font-size: 130pt;
  line-height: 120pt;
  font-weight: 700;
}

/* sottotitolo della mostra */
#sottotitolo {
  padding-top: 3%;
  font-size: 45pt;
  line-height: 47pt;
  font-weight: 600;
}

/* data,luogo, scaletta e orario della mostra */
.info {
  padding: 3%;
  padding-top: 6%;
  font-size: 45pt;
  font-weight: 600;
  /* utile per distribuire gli elementi dentro il div occupando tutto lo spazio */
  display: flex;
  justify-content: space-between;
}

#sala,
#luogo {
  text-align: right;
}

/* abstract in generale */
#abstract {
  padding: 3%;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-size: 25pt;
  font-weight: 600;
  width: 75%;
}
#abstract span {
  display: block;
  padding-top: 2%;
}

.eng {
  padding-top: 10%;
  font-weight: 400;
}

a {
  display: block;
  padding-top: 3%;
  color: black;
}

/* crediti */
.openSection {
  padding: 3%;
  background-color: white;
  text-decoration: none;
  width: 100%;
  text-align: left;
  font-weight: 600;
  font-size: 20pt;
  border: none;
  display: none;
}

#creditsContainer {
  font-weight: 500;
  font-size: 14pt;
  padding: 3%;
  width: 75%;
  display: flex;
  clear: both;
}
.creditsRow {
  width: 33%;
  padding-right: 3%;
}

.creditsParagraph div,
#firstCredit {
  padding-top: 10%;
}
.creditsParagraph div {
  font-weight: 600;
}
/* fine crediti */

/* versione mobile */
@media only screen and (max-width: 600px) {
  #titolo {
    font-size: 40pt;
    line-height: 42pt;
  }
  #sottotitolo {
    font-size: 20pt;
    line-height: 22pt;
  }

  #abstract {
    width: 100%;
    font-size: 12pt;
  }

  .openSection {
    display: flex;
    justify-content: space-between;
  }

  #creditsContainer {
    /* per mettere i crediti l'uno sotto l'altro */
    display: none;
  }

  .creditsRow {
    width: 100%;
  }

  .info {
    font-size: 20pt;
  }
}
