body {
  font-family: neue-haas-grotesk-text;
}

#abstract,
#programma,
#lingua,
#instagram,
#catalogo,
#siti_passati {
  font-size: 1.5rem;
}

#abstract {
  font-weight: 500;
  line-height: 2rem;
  padding: 1% 3%;
}

#lingua {
  padding: 6% 1% 3% 3%;
}

 /* bottone per scaricare catalogo */
 #catalogo {
  font-family: neue-haas-grotesk-display;
  padding: 2% 0% 0% 3%;
  /* padding-left: 3%; */
  font-weight: 600;
  text-decoration: none;
  text-decoration: underline;
}

#elenco_orari {
  font-weight: 400;
  font-family: neue-haas-grotesk-text;
  line-height: 2rem;
}

#siti_passati a {
  font-weight: 400;
  font-family: neue-haas-grotesk-text;
}

.colp-3 {
  width: 34.5%;
}

.colp-1 {
  width: 13%;
}

.container-loghi-partner {width: 100%; padding: 0 3%; margin-top: 10vh;}

.elenco-loghi {display: flex; width: 100%; height: 8vh;
margin: 3vh 0 8vh 0; align-items: center;}

.main-logos {height: 15vh;}

.second-logos {display: flex;}

.logo {height: 80%; margin-right: 50px;}

.logo img {height: 100%;}

@media only screen and (max-width: 600px) {

  .container-loghi-partner {padding: 0 7vw; margin-top: 5vh; display: none;}
  .elenco-loghi {flex-direction: column; justify-content: center; height: inherit;}
  .logo {margin: 25px 0; width: 80%;}
  .logo img {width: 100%; height: inherit; margin: 0;}
  .second-logos {display: block;}
  .container-loghi-partner h3 {text-align: center; font-size: 1.5rem; margin-top: 10vh;}

  #abstract,
  #programma,
  #lingua,
  #instagram,
  #siti_passati {
    font-size: 1.2rem;
    line-height: 1.7rem;
    padding: 9%;
  }

  #creditsContainer, 
  .openSection, 
  .partnersHeader, 
  #partnersContainer,
  #catalogo {
    padding: 9%;
  }

}