/* impostazioni di default */
* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

p {
  cursor: default;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  scrollbar-width: none;
}

body:-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
  overflow: scroll;
}

body.stop {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overscroll-behavior: contain;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* per i font: font-weight 300 = extralight; 400 = light; 500 = roman; 600 = medium; 700 = bold; 900 = black */

/* padding and border are included in the width and height */

* {
  box-sizing: border-box;
  font-family: "neue-haas-grotesk-display", sans-serif;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

/* [class*="col-"] { 
 float: left; 
 padding: 15px; 
 } */

/* For desktop: - definisco larghezza colonna  */
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

/* for partners*/

.colp-1 {
  width: 12.5%;
}
.colp-3 {
  width: 37.5%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones:  sempre larghezza colonna*/

  [class*="col-"] {
    width: 100%;
    flex-direction: row;
  }
}

/* header */
.navbar {
  display: flex;
  min-height: 64px;
  width: 100%;
  position: fixed;
  z-index: 5;
  align-items: center;
  padding: 0 3%;
}

.nav-link {
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.icon-container {
  margin-left: auto;
  display: flex;
  align-items: center;
  z-index: 2;
}

.icon2-container {
  margin-right: auto;
  /* min-width: 24px; */
  display: flex;
  align-items: center;
  z-index: 2;
}

.icon2-container img {
  height: 24px;
}

.text-container {
  /* padding: 3%; */
  text-align: right;
  display: flex;
  align-items: center;
  z-index: 2;
  flex-direction: row;
}

.text-container a,
.text-container p {
  padding-left: 20px;
  font-size: 1.5rem;
  font-weight: 600;
}

/* menu a tendina */
.hamburger {
  display: none;
}

#cross {
  display: none;
}

#home {
  display: none;
}

@media only screen and (max-width: 768px) {
  .text-container {
    position: fixed;
    left: 0;
    top: -100%;
    background-color: #fff;
    width: 100%;
    height: 100%;
    /* transition: 1s; */
    padding: 20vh 0;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
  }

  .text-container :nth-child(n) {
    padding: 0;
  }

  .text-container.active {
    top: 0;
  }

  .hamburger {
    display: block;
    height: 5vh;
    width: 5vh;
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  #cross {
    display: block;
    width: 6vh;
    height: 6vh;
    position: absolute;
    top: 3%;
  }

  .hamburger img {
    width: 100%;
  }

  .nav-link p {
    font-size: 2rem;
  }

  /* non so come mettere il logo parte del menu */
  #logo {
    display: none;
  }
}

/* collegamento in generale */
a {
  display: block;
  color: black;
  text-decoration: none;
}

/* sottotitolo della mostra */
#subtitle {
  z-index: 3;
  top: 75vh;
  width: 100%;
  position: absolute;
  font-size: 3.5rem;
  line-height: 3.5rem;
  font-weight: 600;
  text-align: center;
  align-items: center;
}

#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: white;
  z-index: 10;
  transition: 0.8s;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading h2 {
  font-size: 2rem;
  text-align: center;
  opacity: 0;
  font-weight: 600;
  animation: loadingAnimation 2s 1s infinite;
}

.circle {
  border: 1px solid black;
  position: absolute;
  height: 5vh;
  width: 5vh;
  border-radius: 5vh;
  opacity: 0;
}

#inner-circle {
  animation: loadingInner 4s 1s infinite;
}
#outer-circle {
  animation: loadingOuter 4s 1s infinite;
}

@keyframes loadingInner {
  0% {
    scale: 1;
    opacity: 1;
  }
  16.66% {
    scale: 1.3;
  }
  50% {
    scale: 1.3;
  }
  66.66% {
    scale: 1.3;
  }
  100% {
    scale: 1;
  }
}
@keyframes loadingOuter {
  0% {
    scale: 1;
  }
  50% {
    scale: 2;
  }
  100% {
    scale: 1;
  }
}

/* data,luogo, scaletta e orario della mostra */
/* comprende tutte le info */
.info {
  padding: 3%;
  /* padding-top: 6%; */
  font-size: 3.5rem;
  line-height: 3.5rem;
  font-weight: 600;
  /* utile per distribuire gli elementi dentro il div occupando tutto lo spazio */
  display: flex;
  flex-direction: row;
}

/* div sulla sinistra */
#sala,
#luogo {
  text-align: right;
}

/* bottone per il cambio lingua */
/* #lingua {
  display: flex;
  clear: both;
  padding: 3%;
  font-size: 2.2rem;
  font-weight: 600;
} */

#switch {
  display: flex;
}

/* peso lingua */
#itversion {
  opacity: 100%;
}
#enversion {
  opacity: 30%;
  padding-left: 0;
}

/* abstract in generale */
#abstract {
  padding: 3%;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 600;
  /* width: 75%; */
}
#abstract span {
  display: block;
  padding-top: 0.5%;
}

#programma {
  padding: 3%;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 600;
  /* utile per distribuire gli elementi dentro il div occupando tutto lo spazio */
  display: flex;
  flex-direction: column;
}

#elenco_orari ul {
  display: flex;
  flex-direction: row;
}
#evento {
  padding-left: 8px;
}

/* collegamento in generale */
a {
  display: block;
  /* padding-top: 3%; */
  color: black;
  text-decoration: none;
}

#instagram {
  padding: 1.5%;
  padding-left: 3%;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 600;
  text-decoration: none;
}

/* link ai siti passati */
#siti_passati {
  padding: 3%;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
  text-align: left;
}

#siti_passati a {
  text-decoration: underline;
}

#titolo_passato {
  line-height: normal;
  text-decoration: none;
}

#projCredits {
  width: 100%;
  text-align: center;
}

/* crediti */
.openSection {
  padding: 3%;
  padding-top: 15%;
  background-color: white;
  text-decoration: none;
  width: 100%;
  text-align: left;
  font-weight: 600;
  font-size: 2.2rem;
  border: none;
  display: none;
}

#container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

#creditsContainer {
  font-weight: 500;
  font-size: 1.2rem;
  padding: 3%;
  width: 80%;
  display: flex;
  clear: both;
}
.creditsRow {
  width: 33%;
  padding-right: 3%;
}

.creditsParagraph div,
#firstCredit {
  padding-top: 10%;
}
.creditsParagraph div {
  font-weight: 600;
}
/* fine crediti */

.partnersHeader {
  display: flex;
  flex-direction: row;
  margin-bottom: 1%;
}

.partnersHeader p {
  font-family: neue-haas-grotesk-text;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: left;
}

#partnersContainer {
  display: flex;
  flex-direction: row;
}

.partner a img {
  display: flex;
  width: 100%;
  padding: 8%;
  align-items: center;
  align-content: center;
}

.txtmobile {
  display: none;
}

.it {
  display: block;
}

.en {
  display: none;
}

/* versione mobile */
@media only screen and (max-width: 600px) {
  html::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  #subtitle {
    top: 60vh;
    font-size: 1.5rem;
    line-height: 1.7rem;
  }

  .info {
    font-size: 1.3rem;
    line-height: 1.6rem;
  }

  #home {
    display: block;
  }

  #abstract {
    padding-top: 10%;
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  #programma {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  #instagram {
    font-size: 1.2rem;
  }

  #siti_passati {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  #siti_passati p {
    text-decoration: none;
  }

  .openSection,
  .openSection2 {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: black;
  }

  #creditsContainer {
    display: none;
  }

  .creditsRow {
    width: 100%;
    padding-right: 3%;
  }

  .partnersHeader {
    display: block;
    margin-bottom: 1%;
  }

  .partnersHeader p {
    display: none;
  }

  #partnersContainer {
    display: none;
  }

  .partner a img {
    width: 50%;
    padding-left: 3%;
  }

  .txtmobile {
    display: block;
    padding-left: 3%;
    font-weight: 600;
  }

  .container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

footer {
  width: 100%;
  padding: 3vh 7vw;
  position: absolute;
}
footer p {
  text-align: center;
  width: 100%;
  font-size: 1rem;
}
