#abstract,
#programma,
#lingua,
#instagram,
#catalogo,
#siti_passati {
  font-size: 1.5rem;
}

#abstract {
  font-weight: 500;
  line-height: 2rem;
  padding: 1% 3%;
}

#lingua {
  padding: 6% 1% 3% 3%;
}

 /* bottone per scaricare catalogo */
 #catalogo {
  font-family: neue-haas-grotesk-display;
  padding: 2% 0% 0% 3%;
  /* padding-left: 3%; */
  font-weight: 600;
  text-decoration: none;
}

#elenco_orari {
  font-weight: 500;
  line-height: 2rem;
}

#siti_passati a {
  font-weight: 500;
}

.colp-3 {
  width: 34.5%;
}

.colp-1 {
  width: 13%;
}

@media only screen and (max-width: 600px) {

  #abstract,
  #programma,
  #lingua,
  #instagram,
  #siti_passati {
    font-size: 1.2rem;
    line-height: 1.7rem;
    padding: 9%;
  }

  #creditsContainer, 
  .openSection, 
  .partnersHeader, 
  #partnersContainer,
  #catalogo {
    padding: 9%;
  }

}