/* impostazioni di default */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* per i font: font-weight 300 = extralight; 400 = light; 500 = roman; 600 = medium; 700 = bold; 900 = black */

/* padding and border are included in the width and height */

* {
  box-sizing: border-box;
  font-family: "neue-haas-grotesk-display", sans-serif;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

/* [class*="col-"] { 
 float: left; 
 padding: 15px; 
 } */

/* For desktop: - definisco larghezza colonna  */
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones:  sempre larghezza colonna*/

  [class*="col-"] {
    width: 100%;
    flex-direction: row;
  }
}

/* .reaction-diffusion-container {
    height: 200px;
    width: 100%;
    z-index: 3;
  } */

/* div generale del titolo */
.nome {
  display: flex;
  padding-top: 6%;
  text-align: center;
  flex-direction: column;
}

/* nome della mostra */
#titolo {
  font-size: 10rem;
  line-height: 9.5rem;
  font-weight: 700;
}

/* sottotitolo della mostra */
#sottotitolo {
  padding-top: 2%;
  font-size: 3.5rem;
  line-height: 3.5rem;
  font-weight: 600;
  text-align: center;
}

/* video sostitutivo dell'effetto */
.video {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* data,luogo, scaletta e orario della mostra */
/* comprende tutte le info */
.info {
  padding: 3%;
  /* padding-top: 6%; */
  font-size: 3.5rem;
  line-height: 3.5rem;
  font-weight: 600;
  /* utile per distribuire gli elementi dentro il div occupando tutto lo spazio */
  display: flex;
  flex-direction: row;
}

/* div sulla sinistra */
#sala,
#luogo {
  text-align: right;
}

/* bottone per il cambio lingua */
#lingua {
  padding: 3%;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: right;
  align-self: top;
  text-decoration: underline;
}

/* abstract in generale */
#abstract {
  padding: 3%;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 600;
  /* width: 75%; */
}
#abstract span {
  display: block;
  padding-top: 0.5%;
}

/* programma in italiano - in realtà ha le stesse caratteristiche di quello in inglese */
#programma-ita {
  padding: 3%;
  /* padding-top: 6%; */
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 600;
  /* utile per distribuire gli elementi dentro il div occupando tutto lo spazio */
  display: flex;
  /* justify-content: space-between; */
}

/* riga del testo in inglese */
.eng {
  padding-top: 10%;
  /* font-weight: 400; */
}

#programma-eng {
  padding: 3%;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 600;
  /* utile per distribuire gli elementi dentro il div occupando tutto lo spazio */
  display: flex;
}

/* collegamento in generale */
a {
  display: block;
  padding-top: 3%;
  color: black;
}

#instagram {
  padding: 3%;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 600;
}

/* crediti */
.openSection {
  padding: 3%;
  padding-top: 15%;
  background-color: white;
  text-decoration: none;
  width: 100%;
  text-align: left;
  font-weight: 600;
  font-size: 2.5rem;
  border: none;
  display: none;
}

#creditsContainer {
  font-weight: 500;
  font-size: 1.2rem;
  padding: 3%;
  width: 80%;
  display: flex;
  clear: both;
}
.creditsRow {
  width: 33%;
  padding-right: 3%;
}

.creditsParagraph div,
#firstCredit {
  padding-top: 10%;
}
.creditsParagraph div {
  font-weight: 600;
}
/* fine crediti */

/* partners */
#partnersContainer {
  padding: 3%;
  /* width: 80%; */
  display: flex;
  flex-direction: row;
  clear: both;
}
.partnersRow {
  padding-right: 3%;
}

.partnersParagraph div {
  padding-top: 10%;
}
.partnersParagraph img {
  width: 90%;
  align-self: center;
  align-items: center;
}

/* versione mobile */
@media only screen and (max-width: 600px) {
  #titolo {
    padding-top: 30%;
    font-size: 2.7rem;
    line-height: 2.7rem;
  }
  #sottotitolo {
    font-size: 2rem;
    line-height: 1.7rem;
  }

  .video {
    padding-top: 30%;
  }

  .info {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }

  #lingua {
    font-size: 1.5rem;
  }

  #abstract {
    padding-top: 10%;
    width: 100%;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  #programma-ita {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  #programma-eng {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  #instagram {
    font-size: 1.5rem;
  }

  .openSection {
    display: flex;
    justify-content: space-between;
  }

  #creditsContainer,
  #partnersContainer {
    /* per mettere i crediti l'uno sotto l'altro */
    display: none;
  }

  .creditsRow,
  .partnersRow {
    width: 100%;
  }
}
